# cyber60 board configuration

# Copyright (c) 2020-2021 Stefan Sundin (4pplet)
# SPDX-License-Identifier: MIT

config BOARD_CYBER60
	bool "cyber60"
	depends on SOC_NRF52840_QIAA

config BOARD_CYBER60_REVB
	bool "cyber60_reva"
	depends on BOARD_CYBER60

config BOARD_CYBER60_REVC
	bool "cyber60_revb"
	depends on BOARD_CYBER60
